<main role="main" class="container">
    <div class="jumbotron" *ngIf="genres">
      <h1>Genres & Moods</h1>
      <div class="row">
        <span *ngFor="let item of genres.categories.items" style="margin-right: 15px; margin-bottom: 15px;">
          <span class="card cursor" style="width: 160px;" (click)="open(item)" >
            <img class="card-img-top" src="{{ item.icons[0].url }}" alt="{{ item.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.name}}</h5>
            </div>
          </span>
        </span>
      </div>
    </div>
  </main>