<main role="main" class="container">
  <div class="jumbotron" *ngIf="newReleased">
    <h1> New Released</h1>
    <div class="flex-container">
        <div class="card cursor self-sized-card" *ngFor="let item of newReleased.albums.items"
         style="margin-right: 10px; margin-bottom: 10px;min-height: 308px;" (click)="open(item)">
          <img class="card-img-top" src="{{ item.images[0].url }}" alt="{{ item.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.artists[0].name}}</h5>
            <p class="card-text">{{ item.name }}</p>
          </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="loadMore(newReleased)">Load more</button>
  </div>
</main>