/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}

.dropdown-menu { right: 0; left: auto; }

.scrollable-menu {
  height: auto;
  max-height: 400px;
  width: 300px;
  overflow-x: hidden;
}

.cursor:hover {
    cursor: pointer;
}




.flex-container {
  display: flex;
  flex-flow: row wrap;
}

.flex-container .self-sized-card {
  width: 160px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

@media(max-width: 768px) {
  .flex-container .self-sized-card {
      flex-grow: 1;
  }    
}
