<main role="main" class="container">
  <div class="jumbotron" *ngIf="featuredPlaylists">
    <h1 style="text-align: center; margin-bottom: 2rem;">{{ featuredPlaylists.message }}</h1>
    <div class="playlists">
      <div class="playlist {{ isFavorite(item.id) ? 'fav' : ''}}" *ngFor="let item of featuredPlaylists.playlists.items">
        <svg class="heart" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" (click)="favorite(item.id)">
          <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
        </svg>
        <img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-thumbnail rounded cursor" width="160px" height="160px" (click)="open(item)">
      </div>
    </div>
  </div>
  <div class="jumbotron" *ngIf="favorites && favorites.length">
    <h1 style="text-align: center; margin-bottom: 2rem;">Favorites</h1>
    <div class="playlists">
      <div class="playlist fav" *ngFor="let item of favoritesItems;">
        <svg class="heart" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" (click)="favorite(item.id)">
          <path d="M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z"/>
        </svg>
        <img src="{{ item.images[0].url }}" alt="{{ item.name }}" class="img-thumbnail rounded cursor" width="160px" height="160px" (click)="open(item)">
      </div>
    </div>
  </div>
</main>